.MainLayout {
    display: grid;
    grid-template-areas: "left content right";
    grid-template-columns: min-content 1fr min-content;
}

.left {
    grid-area: left;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 0 16px;
    width: 100%;
}

.right {
    grid-area: right;
}

.left,
.right {
    position: sticky;
    top: 32px;
    height: fit-content;
}

@media (max-width: 965px) {
    .MainLayout {
        display: flex;
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        margin-top: 0;
    }

    .content {
        //display: none;
    }
}

@media (max-width: 665px) {
    .MainLayout {
        padding: 0;
        max-width: 800px;
    }
}
